@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	display: none;
}

* {
	margin: 0;
	padding: 0;
}

body {
	color: rgba(128, 128, 128, 1);
	line-height: 1.5;
	height: 100vh;

	display: flex;
	flex-direction: row;
}

a {
	text-decoration: none;
	color: rgba(128, 128, 128, 1);
}

.stack {
	display: flex;
	flex-direction: column;
}

.col {
	display: flex;
	flex-direction: column;
}

.layout {
	display: flex;
	flex-direction: column;

	gap: 12px;

	width: 100%;
	overflow: hidden;

	padding-inline: 34px;
	margin-top: 34px;
}
